# Var directory (Magento project root)
src/var/cache
src/var/page_cache
src/var/session
src/var/log
src/var/report
src/var/tmp
src/var/view_preprocessed

# Generated code (Magento project root)
src/generated/code
src/generated/metadata

# Static files (Magento project root)
src/pub/static/frontend
src/pub/static/adminhtml
src/pub/static/deployed_version.txt

# Media (Magento project root)
src/pub/media/tmp
src/pub/media/cache

# Dev files
.git
.idea
*.md
docker-compose*.yml
Makefile
.env
.env.*
*.log
