services:
  app:
    build:
      context: .
      dockerfile: ./images/php/8.4/Dockerfile
    container_name: magento-app
    restart: always
    environment:
      SERVER_NAME: "magento.localhost"
      MAGE_MODE: "production"
    volumes:
      - ./images/php/8.4/conf/Caddyfile:/etc/caddy/Caddyfile:ro
    ports:
      - 80:80
      - 443:443
    depends_on:
      - mariadb
      - opensearch
      - valkey
      - rabbitmq
    networks:
      - magento

  mariadb:
    image: mariadb:11.4
    container_name: magento-db
    restart: always
    environment:
      MYSQL_ROOT_ROOT: root
      MYSQL_ROOT_PASSWORD: strong-root-password
      MYSQL_DATABASE: magento
      MYSQL_USER: magento
      MYSQL_PASSWORD: strong-password
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - magento

  opensearch:
    build:
      context: ./images/opensearch
      dockerfile: Dockerfile
    container_name: magento-opensearch
    restart: always
    env_file: env/opensearch.env
    environment:
      - "discovery.type=single-node"
      #- "plugins.security.disabled=true"
      - "cluster.routing.allocation.disk.threshold_enabled=false"
    volumes:
      - opensearch-data:/usr/share/opensearch/data
    networks:
      - magento

  valkey:
    image: valkey/valkey:8.1.4
    container_name: magento-valkey
    restart: always
    networks:
      - magento

  rabbitmq:
    image: rabbitmq:4.1-management-alpine
    container_name: magento-rabbitmq
    restart: always
    env_file: env/rabbitmq.env
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
      - ./images/rabbitmq/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - magento

networks:
  magento:

volumes:
  db-data:
  opensearch-data:
  rabbitmq-data:
  magento-data:
  media-data:
