services:
  traefik:
    image: traefik:v3.0.0
    restart: unless-stopped
    container_name: magento-traefik
    security_opt:
      - no-new-privileges:true
    command:
      - --configFile=/traefik.yml
    networks:
      - magento
      - proxy
    ports:
      - 80:80
      - 443:443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./conf/traefik.yml:/traefik.yml:ro
      - ./conf/dynamic:/etc/traefik/dynamic
    labels:
      - traefik.enable=true
      - traefik.docker.network=proxy
      - traefik.http.routers.traefik. entrypoints=http
      - traefik.http.routers.traefik.rule=Host(`traefik.localhost`)
      - traefik.http. routers.traefik.service=api@internal

  app:
    image: mohelmrabet/magento-frankenphp:php8.3-fp1.10-dev
    container_name: magento-app
    ports:
      - "8443:443"
    environment:
      SERVER_NAME: "marjanemall2.localhost"
      USER_ID: ${USER_ID:-1000}
      GROUP_ID: ${GROUP_ID:-1000}
      SENDMAIL_PATH: "/usr/local/bin/mhsendmail --smtp-addr=magento-mailhog:1025"
    volumes:
      - ./images/php/8.3/conf/Caddyfile:/etc/caddy/Caddyfile:cached
      - ./src:/var/www/html
    labels:
      - traefik.enable=true
      - traefik.docker.network=proxy
      - traefik.tcp.routers.magento.rule=HostSNI(`marjanemall2.localhost`)
      - traefik. tcp.routers.magento. entrypoints=https
      - traefik.tcp.routers.magento.tls.passthrough=true
      - traefik.tcp.services.magento.loadbalancer.server.port=443
    depends_on:
      - mariadb
      - opensearch
      - valkey
      - rabbitmq
    networks:
      - magento
      - proxy

  mariadb:
    image: mariadb:11.4
    container_name: magento-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: magento
      MYSQL_USER: magento
      MYSQL_PASSWORD: magento
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - magento

  opensearch:
    build:
      context: ./images/opensearch
      dockerfile: Dockerfile
    container_name: magento-opensearch
    env_file: env/opensearch.env
    environment:
      - "discovery.type=single-node"
      - "cluster.routing.allocation.disk.threshold_enabled=false"
      - "index.blocks.read_only_allow_delete"
    volumes:
      - opensearch-data:/usr/share/opensearch/data
    networks:
      - magento

  valkey:
    image: valkey/valkey:8.1.4
    container_name: magento-valkey
    networks:
      - magento

  rabbitmq:
    image: rabbitmq:4.1-management-alpine
    container_name: magento-rabbitmq
    env_file: env/rabbitmq.env
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
      - ./images/rabbitmq/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf
    labels:
      - traefik. enable=true
      - traefik.docker.network=proxy
      - traefik.http. routers.rabbit.entrypoints=http
      - traefik.http.routers.rabbit. rule=Host(`rabbit.localhost`)
      - traefik.http.services.rabbit.loadbalancer.server.port=15672
    networks:
      - magento
      - proxy

  mailhog:
    image: mailhog/mailhog
    container_name: magento-mailhog
    networks:
      - magento
      - proxy
    labels:
      - traefik.enable=true
      - traefik.docker.network=proxy
      - traefik.http.routers.mailhog. entrypoints=http
      - traefik.http.routers.mailhog.rule=Host(`mailhog.localhost`)
      - traefik.http. services.mailhog.loadbalancer.server.port=8025

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: magento-phpmyadmin
    env_file: env/mariadb.env
    labels:
      - traefik.enable=true
      - traefik.docker.network=proxy
      - traefik.http.routers.phpmyadmin.entrypoints=http
      - traefik.http.routers.phpmyadmin.rule=Host(`myadmin.localhost`)
      - traefik.http.services.phpmyadmin.loadbalancer.server.port=80
      - traefik.http.services.phpmyadmin.loadbalancer. server.scheme=http
    networks:
      - magento
      - proxy

networks:
  magento:
  proxy:
    external: true

volumes:
  db-data:
  opensearch-data:
  rabbitmq-data: