services:
  app:
    image: mohelmrabet/magento-frankenphp:php8.3-fp1.10-base
    container_name: magento-app
    restart: unless-stopped
    volumes:
      - ./images/php/8.3/conf/Caddyfile:/etc/caddy/Caddyfile:cached
    environment:
      SERVER_NAME: "magento.com"
      MAGENTO_RUN_MODE: production
    depends_on:
      - mariadb
      - opensearch
      - valkey
      - rabbitmq
    ports:
      - "80:80"
      - "443:443"
    networks:
      - magento

  mariadb:
    image: mariadb:11.4
    container_name: magento-db
    restart: unless-stopped
    env_file: env/mariadb.env
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - magento

  opensearch:
    build:
      context: ./images/opensearch
      dockerfile: Dockerfile
    container_name: magento-opensearch
    restart: unless-stopped
    env_file: env/opensearch.env
    environment:
      - "discovery.type=single-node"
      - "cluster.routing. allocation.disk.threshold_enabled=false"
      - "index. blocks.read_only_allow_delete"
    volumes:
      - opensearch-data:/usr/share/opensearch/data
    networks:
      - magento

  valkey:
    image: valkey/valkey:8.1.4
    container_name: magento-valkey
    restart: unless-stopped
    networks:
      - magento

  rabbitmq:
    image: rabbitmq:4.1-management-alpine
    container_name: magento-rabbitmq
    restart: unless-stopped
    env_file: env/rabbitmq.env
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
      - ./images/rabbitmq/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf
    networks:
      - magento

networks:
  magento:

volumes:
  db-data:
  opensearch-data:
  rabbitmq-data: