services:
  app:
    build:
      context: ./images/php/8.4
      dockerfile: Dockerfile.dev
    container_name: magento-app
    volumes:
      - ./src:/var/www/html
      - ./images/php/8.4/conf/Caddyfile:/etc/caddy/Caddyfile:cached
    ports:
      - 80:80
      - 443:443
    environment:
      SERVER_NAME: "magento.localhost"
    depends_on:
      - mariadb
      - opensearch
      - redis
    networks:
      - magento

  mariadb:
    image: mariadb:11.8
    container_name: magento-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: magento
      MYSQL_USER: magento
      MYSQL_PASSWORD: magento
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - magento

  opensearch:
    image: opensearchproject/opensearch:2.14.0
    container_name: magento-search
    environment:
      discovery.type: single-node
      DISABLE_SECURITY_PLUGIN: "true"
      OPENSEARCH_JAVA_OPTS: "-Xms1g -Xmx1g"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - opensearch-data:/usr/share/opensearch/data
    networks:
      - magento

  redis:
    image: redis:7.2
    container_name: magento-redis
    networks:
      - magento

  rabbitmq:
    image: rabbitmq:3-management
    container_name: magento-mq
    ports:
      - "15672:15672"
    networks:
      - magento

  mailhog:
    image: mailhog/mailhog
    container_name: magento-mailhog
    ports:
      - "8025:8025"
    networks:
      - magento


networks:
  magento:

volumes:
  db-data:
  opensearch-data:
