services:
  app:
    build:
      context: ./images/php/8.4
      dockerfile: Dockerfile.dev
    container_name: magento-app
    volumes:
      - ./src:/var/www/html
      - ./images/php/8.4/conf/Caddyfile:/etc/caddy/Caddyfile:cached
    ports:
      - 80:80
      - 443:443
    environment:
      SERVER_NAME: "magento.localhost"
    depends_on:
      - mariadb
      - opensearch
      - valkey
      - rabbitmq
    networks:
      - magento

  mariadb:
    image: mariadb:11.4
    container_name: magento-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: magento
      MYSQL_USER: magento
      MYSQL_PASSWORD: magento
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - magento

  opensearch:
    build:
      context: ./images/opensearch
      dockerfile: Dockerfile
    container_name: magento-opensearch
    env_file: env/opensearch.env
    environment:
      - "discovery.type=single-node"
      - "cluster.routing.allocation.disk.threshold_enabled=false"
      - "index.blocks.read_only_allow_delete"
    volumes:
      - opensearch-data:/usr/share/opensearch/data
    networks:
      - magento

  valkey:
    image: valkey/valkey:8.1.4
    container_name: magento-valkey
    networks:
      - magento

  rabbitmq:
    image: rabbitmq:4.1-management-alpine
    container_name: magento-rabbitmq
    env_file: env/rabbitmq.env
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
      - ./images/rabbitmq/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - magento

  mailhog:
    image: mailhog/mailhog
    container_name: magento-mailhog
    ports:
      - "8025:8025"
    networks:
      - magento

networks:
  magento:

volumes:
  db-data:
  opensearch-data:
  rabbitmq-data:
