<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/tests" />
        <option value="$PROJECT_DIR$/dev/tests/integration/testsuite/Magento/Framework/Composer/_files/testFromCreateProject/tests" />
        <option value="$PROJECT_DIR$/dev/tests/integration/testsuite/Magento/Framework/Composer/_files/testFromClone/tests" />
        <option value="$PROJECT_DIR$/setup/src/Magento/Setup/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/DB/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Acl/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Api/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/App/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Css/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Jwt/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Url/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Xml/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Code/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Data/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/File/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/HTTP/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Json/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Lock/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Mail/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Math/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/View/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Async/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Cache/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Event/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Image/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Model/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Mview/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Oauth/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Setup/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Shell/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Backup/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Config/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Filter/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Locale/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Logger/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Module/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Phrase/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Search/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Stdlib/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Webapi/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Archive/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Console/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Convert/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Crontab/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/GraphQl/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Indexer/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Measure/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Message/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Pricing/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Session/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Autoload/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Composer/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Profiler/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Component/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Exception/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/RequireJs/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Serialize/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Simplexml/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Translate/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Validator/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Controller/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/DataObject/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Encryption/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Filesystem/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Reflection/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Unserialize/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Interception/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Notification/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Authorization/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/EntityManager/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/ObjectManager/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/TestFramework/Test" />
        <option value="$PROJECT_DIR$/dev/tests" />
        <option value="$PROJECT_DIR$/app/dev/tests/integration/testsuite/Magento/Framework/Composer/_files/testFromClone/tests" />
        <option value="$PROJECT_DIR$/app/dev/tests/integration/testsuite/Magento/Framework/Composer/_files/testFromCreateProject/tests" />
        <option value="$PROJECT_DIR$/app/setup/src/Magento/Setup/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/DB/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Acl/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Api/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/App/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Css/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Jwt/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Url/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Xml/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Code/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Data/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/File/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/HTTP/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Json/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Lock/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Mail/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Math/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/View/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Async/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Cache/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Event/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Image/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Model/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Mview/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Oauth/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Setup/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Shell/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Backup/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Config/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Filter/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Locale/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Logger/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Module/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Phrase/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Search/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Stdlib/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Webapi/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Archive/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Console/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Convert/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Crontab/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/GraphQl/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Indexer/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Measure/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Message/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Pricing/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Session/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Autoload/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Composer/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Profiler/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Component/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Exception/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/RequireJs/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Serialize/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Simplexml/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Translate/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Validator/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Controller/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/DataObject/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Encryption/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Filesystem/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Reflection/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Unserialize/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Interception/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Notification/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/Authorization/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/EntityManager/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/ObjectManager/Test" />
        <option value="$PROJECT_DIR$/app/vendor/magento/framework/TestFramework/Test" />
        <option value="$PROJECT_DIR$/app/dev/tests" />
        <option value="$PROJECT_DIR$/src/tests" />
        <option value="$PROJECT_DIR$/src/setup/src/Magento/Setup/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/DB/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Acl/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Api/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/App/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Css/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Jwt/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Url/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Xml/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Code/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Data/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/File/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/HTTP/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Json/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Lock/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Mail/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Math/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/View/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Async/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Cache/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Event/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Image/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Model/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Mview/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Oauth/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Setup/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Shell/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Backup/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Config/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Filter/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Locale/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Logger/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Module/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Phrase/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Search/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Stdlib/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Webapi/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Archive/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Console/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Convert/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Crontab/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/GraphQl/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Indexer/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Measure/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Message/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Pricing/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Session/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Autoload/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Composer/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Profiler/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Component/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Exception/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/RequireJs/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Serialize/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Simplexml/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Translate/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Validator/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Controller/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/DataObject/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Encryption/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Filesystem/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Reflection/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Unserialize/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Interception/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Notification/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/Authorization/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/EntityManager/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/ObjectManager/Test" />
        <option value="$PROJECT_DIR$/src/vendor/magento/framework/TestFramework/Test" />
        <option value="$PROJECT_DIR$/src/dev/tests" />
      </list>
    </option>
  </component>
</project>