PROJECT_NAME=magento
SERVER_NAME=magento.localhost

BASE_URL=https://magento.localhost/
ADMIN_FIRSTNAME=Admin
ADMIN_LASTNAME=User
ADMIN_EMAIL=admin@example.com
ADMIN_USER=admin
ADMIN_PASSWORD=Admin123!
BACKEND_FRONTNAME=admin

LANGUAGE=fr_FR
CURRENCY=EUR
TIMEZONE=Europe/Paris
